$font-stack: Century Gothic, sans-serif;
$white: #ffffff;
$lightgray: #e5dfdd;
$borderblack: rgba(255, 255, 255, 0.2);

body {
    color: $white;
    font-family: $font-stack;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    margin: 0;
    padding: 0;
    background-size: 30%;
    background-attachment: fixed;
    background: repeat;
    font-size: 18px;
}

h1, h2, h3 {
    line-height: 150%;
}

h2 {
    color: #b3e4dd;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
p {
    line-height: 200%;
    color: $lightgray;
}

img {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.div-section{
    padding: 25rem 10rem;
}

.header-container{
    position: relative;
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
.header-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    mix-blend-mode: soft-light;
    background-color: #585f6d;
    z-index: 2;
}

.header-container .initial-header {
    height: 100%;
  }

.initial-header{
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.moontopia-title{
    position: absolute;
    text-align: center;
    font-size: 14vw;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    font-weight: 700;
    z-index: 2;
    background: -webkit-linear-gradient($white, #bec0d8);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.moon-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.earth-image-header {
    right: 10%;
    top: 28vh;
    width: 14vw;
    z-index: 1;
    position: absolute;
}

.black-section{
    background-color: #0f1011;
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;
}

.black-section::after{
    width: 60vw;
    height: 60vw;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #7af6dd;
    opacity: 0.1;
    pointer-events: none;
}

.black-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

.black-section-text{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    position: relative;
}
.flex-container{
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.ch1-right {
    right: 5%;
    padding: 1rem 0 0;
    max-width: 40%;
    position: absolute;
    border-left: 1px solid $borderblack;
    z-index: 9997;
}

.ch1-text > h2 {
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
    margin: 0
}

.ch1-text {
    border-bottom: 1px solid $borderblack
}

.ch1-scroll{
    overflow: hidden !important;
    overflow-anchor: none;
    touch-action: auto;
    margin-top: 2rem;
    position: relative;
    margin-left: 2rem;
    padding-right: 2rem;
    height: 60vh;
    padding-bottom: 10%;
}

.ch1-text::after {
    opacity: 1;
    content: "";
    pointer-events: none;
    position: absolute;
    height: 10%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(7, 7, 16, 0) 0%, rgba(7, 7, 16, 1) 100%);
}

.ch1-left{
    z-index: 2;
    height: 41vh !important;
    position: absolute;
    left: 5%;
    width: 45vw;
}

.elements {
    top: 30%;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.earth-image-ch1{
    transform: translate3d(0px, 173px, 0px);
    position: absolute;
    max-width: 15vw;
    top: -20%;
    left: 50%;
}

.fullmoon-image{
    transform: translate3d(0px, -167px, 0px);
    position: absolute;
    max-width: 50vw;
    bottom: auto;
    top: 0;
    left: -15vw;
}

.blue-section{
    z-index: 2;
    background-color: #191921;
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;
}

.blue-section::after{
    width: 60vw;
    height: 60vw;
    left: auto;
    right: -30vw;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #7af6dd;
    opacity: 0.1;
    pointer-events: none;
}

.article-header{
    max-width: 450px;
    padding: 0 4rem;
    min-width: 50%;
    -webkit-box-pack: start;
    -webkit-box-flex: 1;
    box-sizing: border-box;
    margin: 0;
    h3 {
        margin: 0 0 1rem;
    }
}

.article-column {
    padding: 0 4rem;
    min-width: 50%;
    -webkit-box-pack: start;
    -webkit-box-flex: 1;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    h3{
        margin: 0 0 1rem;
    }
}


.article-container{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
}

.capital-letter{
    margin-top: 4px;
    color: #b1f0d3;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.black-section{
    background-color: #0f1011;
    padding: 4rem 2rem;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.section-flex{
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    flex-direction: row;
    align-items: center;
    display: flex;
}

.lava-containers{
    height: 100%;
    flex-direction: row;
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.article-right{
    right: 5%;
    position: absolute;
    width: 45vw;
    z-index: 0;
}

.article-left{
    left: 5%;
    padding: 1rem 0 0;
    max-width: 40%;
    position: absolute;
    border-left: 1px solid $borderblack;
}

.article-scroll{
    border-bottom: 1px solid $borderblack;
}

.article-scroll > h2 {
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
    margin: 0;  
}

.scrollable-text{
    overflow: hidden !important;
    overflow-anchor: none;
    touch-action: auto;
    margin-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 10%;
    position: relative;
    margin-top: 2rem;
    overflow-y: scroll;
}

.lava-tubes{
    height: 100vh;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-top: 55px;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    bottom: 150%;
}

.lava-tubes > img {
    width: 22vw;
    position: absolute;

}

.lava1 {
    margin-top: -15vh;
    left: 0;
    z-index: 1;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite alternate;
}

.lava2 {
    z-index: 2;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite alternate;
    animation-delay: .25s;
}

.lava3 {
    margin-top: 15vh;
    right: 0;
    z-index: 3;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite alternate;
    animation-delay: .5s;
}

.lava-black{
    background-color: #0f1011;
    padding: 30rem 2rem;
}

.ch1-scroll::after{
    content: "";
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.article-scroll::after{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(15, 16, 17, 0) 0%, rgba(15, 16, 17, 1) 100%);
    content: "";
    pointer-events: none;
    position: absolute;
    height: 10%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.lava-containers{
    height: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.ch1-left > img {
    width: 100%;
    margin-top: -35%;
}

.caption::after{
    content: "SELECT A HOTSPOT TO VIEW MORE INFO";
    display: inline-block;
    position: absolute;
    text-align: center;
    max-width: 320px;
    padding: 15px;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    bottom: -155px;
    left: 0;
    right: 0;
    letter-spacing: 1px;
    margin: auto;
}

.img-ch5 > img {
    width: 50%;
    margin-left: 50%;
}

.section{
    padding: 4rem 2rem;
}

.quote-box{
    max-width: 80%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.quote-marks{
    width: 120px;
    height: 120px;
    position: relative;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 3rem;
    -webkit-box-pack: center;
    display: flex;
}

.quote-text{
    line-height: 300%;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.text-highlight{
    color: #b1f0d3;
}

.authorImg {
    font-size: 1.5rem;
    max-width: 150px;
    border-radius: 50%;
}

.city{
    position: absolute;
    width: 45vw;
    z-index: 0;
    right: 5%;
}

.city::after{
    content: "SELECT A HOTSPOT TO VIEW MORE INFO";
    display: inline-block;
    position: absolute;
    text-align: center;
    max-width: 320px;
    padding: 15px;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    bottom: -30px;
    left: 0;
    right: 0;
    letter-spacing: 1px;
    margin: auto;
}

.moon-man{
    padding-bottom: 15px;
    background: black;
    text-align: center;
    img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

.sources{
    position: static;
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    display: inline-flex;
    transition: transform 0.6s ease;
}

.sources:hover{
    transform: scale(3);
}

.ch6-section{
    background: black;
    padding: 4rem 2rem;
    footer{
        max-width: 640px;
        text-align: center;
        margin: 0 auto;
    }
    a{
        display: inline-flex;
        text-decoration: none;
        color: transparent;
        transition: transform 0.5s ease;
    }
    .hillaryLogo{
        max-width: 200px;
    }
    .curtains{
        color: #b1f0d3;
    }

    .social-media:hover{
        transform: scale(1.5);
    }

}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}