body {
    color: #ffffff;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    margin: 0;
    padding: 0;
    background-size: 30%;
    background-attachment: fixed;
    background: repeat;
}

h1, h2, h3 {
    line-height: 150%;
}

img {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.header-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background: no-repeat center center fixed;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
    
}
.header-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    mix-blend-mode: soft-light;
    background-color: #585f6d;
    z-index: 2;
}

.initial-header{
    height: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: relative;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.moontopia-title{
    position: absolute;
    text-align: center;
    font-size: 14vw;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    font-weight: 700;
    z-index: 2;
    background: -webkit-linear-gradient(#ffffff, #bec0d8);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.moon-image {
    position: absolute;
    pointer-events: none;
    user-select: none;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.earth-image-header {
    right: 10%;
    top: 28vh;
    width: 14vw;
    z-index: 1;
    position: absolute;
  }

