$font-stack: Century Gothic, sans-serif;
$white: #ffffff;
$lightgray: #e5dfdd;
$borderblack: rgba(255, 255, 255, 0.2);

body {
    color: $white;
    font-family: $font-stack;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    margin: 0;
    padding: 0;
    background-size: 30%;
    background-attachment: fixed;
    background: repeat;
    font-size: 18px;
}

h1, h2, h3 {
    line-height: 150%;
}

h2 {
    color: #b3e4dd;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
p {
    line-height: 200%;
    color: $lightgray;
}

img {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.div-section{
    padding: 25rem 10rem;
}

.header-container{
    position: relative;
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
.header-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    mix-blend-mode: soft-light;
    background-color: #585f6d;
    z-index: 2;
}

.header-container .initial-header {
    height: 100%;
  }

.initial-header{
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.moontopia-title{
    position: absolute;
    text-align: center;
    font-size: 14vw;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    font-weight: 700;
    z-index: 2;
    background: -webkit-linear-gradient($white, #bec0d8);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.moon-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.earth-image-header {
    right: 10%;
    top: 28vh;
    width: 14vw;
    z-index: 1;
    position: absolute;
}

.black-section{
    background-color: #0f1011;
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;
}

.black-section::after{
    width: 60vw;
    height: 60vw;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #7af6dd;
    opacity: 0.1;
    pointer-events: none;
}

.black-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

.black-section-text{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    position: relative;
}
.flex-container{
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.ch1-right {
    right: 5%;
    padding: 1rem 0 0;
    max-width: 40%;
    position: absolute;
    border-left: 1px solid $borderblack;
    z-index: 9997;
}

.ch1-text > h2 {
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
    margin: 0
}

.ch1-text {
    border-bottom: 1px solid $borderblack;
    h2{
        padding-left: 2rem;
        position: relative;
        padding-bottom: 2rem;
        margin: 0;
    }
    h2::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: -3rem;
        height: 1px;
        width: calc(100% + 3rem);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.ch1-scroll{
    //overflow: hidden !important;
    overflow-y: scroll;
    overflow-anchor: none;
    touch-action: auto;
    margin-top: 2rem;
    position: relative;
    margin-left: 2rem;
    padding-right: 2rem;
    height: 60vh;
    padding-bottom: 10%;
}

.ch1-text::after {
    opacity: 1;
    content: "";
    pointer-events: none;
    position: absolute;
    height: 10%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(7, 7, 16, 0) 0%, rgba(7, 7, 16, 1) 100%);
}

.ch1-left{
    z-index: 2;
    height: 41vh !important;
    position: absolute;
    left: 5%;
    width: 45vw;
}

.elements {
    top: 30%;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.earth-image-ch1{
    transform: translate3d(0px, 173px, 0px);
    position: absolute;
    max-width: 15vw;
    top: -20%;
    left: 50%;
}

.fullmoon-image{
    transform: translate3d(0px, -167px, 0px);
    position: absolute;
    max-width: 50vw;
    bottom: auto;
    top: 0;
    left: -15vw;
}

.blue-section{
    z-index: 2;
    background-color: #191921;
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;
}

.blue-section::after{
    width: 60vw;
    height: 60vw;
    left: auto;
    right: -30vw;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #7af6dd;
    opacity: 0.1;
    pointer-events: none;
}

.article-header{
    max-width: 450px;
    padding: 0 4rem;
    min-width: 50%;
    -webkit-box-pack: start;
    -webkit-box-flex: 1;
    box-sizing: border-box;
    margin: 0;
    h3 {
        margin: 0 0 1rem;
    }
}

.article-column {
    padding: 0 4rem;
    min-width: 50%;
    -webkit-box-pack: start;
    -webkit-box-flex: 1;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    h3{
        margin: 0 0 1rem;
    }
}


.article-container{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
}

.capital-letter{
    margin-top: 4px;
    color: #b1f0d3;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.black-section{
    background-color: #0f1011;
    padding: 4rem 2rem;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.section-flex{
    height: 150vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    .article-right{
        top: 20%;
    }
}

.lava-containers{
    height: 100%;
    flex-direction: row;
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.article-right{
    right: 5%;
    position: absolute;
    width: 45vw;
    z-index: 0;
}

.article-left{
    left: 5%;
    padding: 1rem 0 0;
    max-width: 40%;
    position: absolute;
    border-left: 1px solid $borderblack;
}

.article-scroll{
    border-bottom: 1px solid $borderblack;
    h2{
        padding-left: 2rem;
        position: relative;
        padding-bottom: 2rem;
        margin: 0;
    }
    h2::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: -3rem;
        height: 1px;
        width: calc(100% + 3rem);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.article-scroll > h2 {
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
    margin: 0;  
}

.scrollable-text{
    //overflow: hidden !important;
    overflow-y: scroll;
    overflow-anchor: none;
    touch-action: auto;
    height: 60vh;
    margin-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 10%;
    position: relative;
    margin-top: 2rem;
    overflow-y: scroll;
}

.scrollable-text::after{
    content: "";
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.city-section{
    background-color: #191921;
    padding: 4rem 2rem;
    height: 100vh;
}

.lava-tubes{
    height: 100vh;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-top: 55px;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    bottom: 150%;
}

.lava-tubes > img {
    width: 22vw;
    position: absolute;

}

.lava1 {
    margin-top: -15vh;
    left: 0;
    z-index: 1;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite alternate;
}

.lava2 {
    z-index: 2;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite alternate;
    animation-delay: .25s;
}

.lava3 {
    margin-top: 15vh;
    right: 0;
    z-index: 3;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite alternate;
    animation-delay: .5s;
}

.lava-black{
    background-color: #0f1011;
    padding: 2rem 2rem;
}

.ch1-scroll::after{
    content: "";
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.article-scroll::after{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(15, 16, 17, 0) 0%, rgba(15, 16, 17, 1) 100%);
    content: "";
    pointer-events: none;
    position: absolute;
    height: 10%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.lava-formation-text{
    div {
        height: auto;
        overflow: hidden !important;
        overflow-anchor: none;
        touch-action: auto;
        margin-left: 2rem;
        position: relative;
        padding-right: 2rem;
        padding-bottom: 10%;
        margin-top: 2rem;
    }
    h2{
        padding-left: 2rem;
        position: relative;
        padding-bottom: 2rem;
        margin: 0;
    }
    h2::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: -3rem;
        height: 1px;
        width: calc(100% + 3rem);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.lava-containers{
    height: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.ch1-left > img {
    width: 100%;
    margin-top: -35%;
}

.caption::after{
    content: "SELECT A HOTSPOT TO VIEW MORE INFO";
    display: inline-block;
    position: absolute;
    text-align: center;
    max-width: 320px;
    padding: 15px;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    bottom: -155px;
    left: 0;
    right: 0;
    letter-spacing: 1px;
    margin: auto;
}

.img-ch5 > img {
    width: 100%;
    margin-left: 6%;
}

.section{
    padding: 4rem 2rem;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.quote-box{
    max-width: 80%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.quote-marks{
    width: 120px;
    height: 120px;
    position: relative;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 3rem;
    -webkit-box-pack: center;
    display: flex;
    img{
        max-width: 100px;
    }
    .circle{
        width: 100px;
        left: 7%;
        position: absolute;
        top: 6%;
        animation-name: spin;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
    }
    .quote-img{
        width: 30px;
    }
}


.quote-marks::after{
    content: url("../img/quote-border.svg");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.quote-text{
    line-height: 300%;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.text-highlight{
    color: #b1f0d3;
}

.authorImg {
    font-size: 1.5rem;
    max-width: 150px;
    border-radius: 50%;
}

.city{
    position: absolute;
    width: 45vw;
    z-index: 0;
    right: 5%;
    top: 760%;
}

.city::after{
    content: "SELECT A HOTSPOT TO VIEW MORE INFO";
    display: inline-block;
    position: absolute;
    text-align: center;
    max-width: 320px;
    padding: 15px;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    bottom: -30px;
    left: 0;
    right: 0;
    letter-spacing: 1px;
    margin: auto;
}

.moon-man{
    padding-bottom: 15px;
    background: black;
    text-align: center;
    img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    button{
        background: transparent;
        border: transparent;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.sources{
    position: static;
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    display: inline-flex;
    transition: transform 0.6s ease;
    color: $white;
    font-family: $font-stack;
    font-size: large;
}

.sources:hover{
    transform: scale(3);
}

.ch6-section{
    background: black;
    padding: 4rem 2rem;
    footer{
        max-width: 640px;
        text-align: center;
        margin: 0 auto;
    }
    a{
        display: inline-flex;
        text-decoration: none;
        color: transparent;
        transition: transform 0.5s ease;
    }
    .hillaryLogo{
        max-width: 200px;
    }
    .curtains{
        color: #b1f0d3;
    }

    .social-media:hover{
        transform: scale(1.5);
    }

}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.menu-button{
    top: 50px;
    right: 50px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    padding: 12px;
    border-radius: 3px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 9999;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .2s ease-out;
    

    button{
        background: transparent;
        border: transparent;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        img{
            width: 86%;
            height: 193%;
            top: -44%;
            position: absolute;
            right: 6%;
        }
    }
}


.menu-button:hover{
    border-radius: 50%;
    border: 2px solid white;
    transform: scale(1.5);

}

.nav{
    display: none;
    right: 0;
    width: 50vw;
    position: fixed;
    background-color: #f7fafb;
    height: 100vh;
    padding: 2rem 4rem;
    box-sizing: border-box;
    overflow: auto;
    z-index: 9999;
    transition-timing-function: ease-in-out;
    // transform: translateX(130%);
    // transition-timing-function: ease-out;
    // transition: 0.5s;
    
    .close{
        top: 50px;
        right: 50px;
        width: 30px;
        height: 30px;
        position: absolute;
        padding: 12px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 1);
        color: black;
        z-index: 999;
        font-weight: 400;
        transition: transform 0.5s ease;

        button {
            width: 100%;
            height: 100%;
            background: transparent;
            border: 0;
            cursor: pointer;
          }
    }

    .close:hover{
        transform: scale(1.5);
    }

    .menu-sections{
        margin: auto;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;

        h2{
            color: #9d9ea9;
            margin: 0;
            font-size: .9rem;
        }
        h3{
            font-size: 1.2rem;
            color: #465156;
            margin: 0;
        }
        h3:hover {
            color: #36d9b6;
        }

        a{
            margin: 1.5rem auto;
            text-decoration: none;
            max-width: 600px;
            width: 100%;
        }
    }
}

.bibliography-container{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */;
    width: 100%;

    p{
        color: #504d4d;
    }
    
    .inner-container{
        width: 90vw;
        max-height: 80vh;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        display: flex;
        position: relative;
        height: calc(100% - 20px);
        max-width: 1400px;
        background-color: white;
        overflow-y: scroll;
        margin: auto;
        z-index: 9999;
        top: 12%
    }

    button{
        position: absolute;
        width: 10%;
        height: 10%;
        background: transparent;
        border: 0;
        top: 0px;
        right: 0px;
        padding: 20px;
        z-index: 9999;
        cursor: pointer;

        img{
            width: 30px;
            height: 30px;
        }
    }

    .right-modal{
        height: 100%;
        padding: 4rem 5.4rem 5.4rem 6rem;
        color: #504d4d;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-basis: 0;
        box-sizing: border-box;
    }

    .biography{
        display: flex;
        flex-direction: row;
    }

    .bio-content{
        width: 80%;
        font-size: 1rem;
        padding-right: 5rem;
        color: #504d4d;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;

        img{
            font-size: 1.5rem;
            max-width: 150px;
            border-radius: 50%;
            cursor: pointer;
        }

        h3{
            font-size: 1.3rem;
            text-align: left;
        }

        p{
            text-align: left;

        }
    }

    .bibliography-content {
        margin-top: 150px;
        width: 38% !important;
        font-size: 1rem;

        h3{
            text-align: left;
        }

        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li{
            position: relative;
            padding-left: 2rem;
            line-height: 200%;
            margin-bottom: 1.5rem;
            color: #504d4d;
        }

        li::before {
            content: "+";
            color: #b1f0d3;
            font-weight: 700;
            font-size: 1.8rem;
            position: absolute;
            left: 0;
          }
    }
}

.bubble{
    cursor: pointer;
    position: absolute;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.bubbles{
    button{
        background: transparent;
        border: transparent;
        cursor: pointer;
        width: 100%;
        height: 100%;

    }
}

.bubble::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    z-index: 99;
    border: 2px solid rgba(255, 255, 255, 0);
}

.bubble::after{
    content: "+";
    position: absolute;
    font-size: 2rem;
    font-weight: 400;
    color: #312435;
}

// .bubble:hover{
//     transform: scale(2);
// }

.harvesting-bubble{
    top: 50%;
    left: 20%;
    transition: transform 0.6s ease;
}

.harvesting-bubble:hover::before {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .harvesting-bubble:hover::after {
    content: "HARVESTING";
    font-weight: 700;
    font-size: .4rem;
  }
.harvesting-bubble:hover{
    transform: scale(2.5);
    z-index: 1000;
}

.hazards-bubble{
    top: 83%;
    left: 75%;
}

.hazards-bubble:hover{
    transform: scale(2.5);
    z-index: 1000;
}

.hazards-bubble:hover::before {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
  }
.hazards-bubble:hover::after {
    content: "HAZARDS";
    font-weight: 700;
    font-size: .4rem;
}

.lift-bubble{
    top: 8%;
    left: 70%;
}

.lift-bubble:hover{
    transform: scale(2.5);
    z-index: 1000;
}

.lift-bubble:hover::before {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.lift-bubble:hover::after {
    content: "LIFT";
    font-weight: 700;
    font-size: .4rem;
}



.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 12%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */;
}

.inner-modal{
    width: 90vw;
    max-height: 80vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: calc(100% - 20px);
    display: flex;
    position: relative;
    max-width: 1400px;
    background-color: white;
    overflow-y: scroll;
    margin: auto;
    z-index: 9999;

    .close{
        top: 12px;
        right: 15px;
        width: 37px;
        height: 30px;
        position: absolute;
        padding: 12px;
        text-align: center;
        color: black;
        z-index: 999;
        font-weight: 400;
        transition: transform 0.5s ease;

        button {
            width: 100%;
            height: 100%;
            background: transparent;
            border: 0;
            cursor: pointer;
        }
    }

    .modal-left{
        height: 100%;
        width: 100%;
        min-height: 50vh;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-basis: 0;
        padding: 3rem;
        box-sizing: border-box;
        background-size: cover;
    }

    .text-right{
        height: 100%;
        box-sizing: border-box;
        flex-basis: 0;
        padding: 3rem;
        flex-grow: 1;
        h3{
            color: #3b3236;
        }
        p{
            color: #3b3236;
        }
    }

}

.temperature-bubble{
    top: 40%;
    left: 27%;
}
.temperature-bubble:hover{
    transform: scale(2.5);
    z-index: 1000;
}

.temperature-bubble:hover::before {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.temperature-bubble:hover::after {
    content: "TEMPERATURE";
    font-weight: 700;
    font-size: .4rem;
}



.farming-bubble{
    top: 49%;
    left: 56%;
}

.farming-bubble:hover{
    transform: scale(2.5);
    z-index: 1000;
}

.farming-bubble:hover::before {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.farming-bubble:hover::after {
    content: "FARMING";
    font-weight: 700;
    font-size: .4rem;
}

.breathing-bubble{
    top: 51%;
    left: 67%;
}

.breathing-bubble:hover{
    transform: scale(2.5);
    z-index: 1000;
}

.breathing-bubble:hover::before {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.breathing-bubble:hover::after {
    content: "BREATHING";
    font-weight: 700;
    font-size: .4rem;
}

.energy-bubble{
    top: 75%;
    left: 23%;
}

.energy-bubble:hover{
    transform: scale(2.5);
    z-index: 1000;
}

.energy-bubble:hover::before {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.energy-bubble:hover::after {
    content: "ENERGY";
    font-weight: 700;
    font-size: .4rem;
}

.exercise-bubble{
    top: 62%;
    left: 55%;
}

.exercise-bubble:hover{
    transform: scale(2.5);
    z-index: 1000;
}

.exercise-bubble:hover::before {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.exercise-bubble:hover::after {
    content: "EXERCISE";
    font-weight: 700;
    font-size: .4rem;
}

.awwwardsTag{
    position: fixed;
    z-index: 999;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
}